body {
  background: #2C2B3D;
  margin: auto;
  width: 1280px;
  min-height: 100vh;
}

.page {
  text-align: center;
  margin: auto;
  width: 1092px;
  height: 301px;
}

header {
  height: 30px;
  width: 1083px;
  margin: 0 auto 101px;
  padding-top: 71px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  font-family: 'JetBrains Mono', monospace;
  color: #FFFFFF;
  font-size: 14;
  line-height: 28px;
  
  display: flex;
  list-style: none;
  gap: 64px;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 139px;
}

section {
  font-family: 'Open Sans', sans-serif;
  color: #C2C2C2;
  font-size: 20px;
  line-height: 28px;  
}

h1 {
  font-family: 'JetBrains Mono', monospace;
  font-weight: bold;
  font-size: 36px;
  color: #FFFFFF;
  line-height: 40px;
  margin-bottom: 59px;
}

span {
  color: #00BFA6;
}

footer {
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  line-height: 28px;
  color: #FFFFFF;
  
  width: 568px;
  height: 55px;
  margin: auto; 
  
  border-top: 1px solid #00BFA6;
}

footer a {
  text-decoration: none;
  color: #FFFFFF;
}


#padlock {
  display: flex;
  position: fixed;
  bottom: 0%;
  left: 0%;
}